<!DOCTYPE html>
<html>

    <head>

        <title>Your Nutrition - {% block titulo %}{% endblock titulo %}</title>

        <meta charset="UTF-8"/>

        <link rel="icon" href="{{url_for('static', filename='_img/dieta.png')}}" type="image/png"/>

        <link rel="stylesheet" href="{{url_for('static', filename='_css/style.css')}}" />

        <script src="{{url_for('static', filename='_java/javascript.js')}}"></script>

    </head>

    <body>      

        <header>
        
            <div id="nav">
                <a href="/" ><span id="nome_site"><strong>YOUR</strong>NUTRITION<span id="ponto">.</span></span></a><br/>
                <div id="dropdownlogin">
                    <a id="link" href="/login">{{ user_logado }}</a>
                    <div id="dropdown-content">
                    </div>
                </div>
            </div>

            <div id='titulo_site'>
                {% block header %}
                <div id="slogan">
                    <span id="slogan_site">Uma simples<br/>dieta para sua<br/>saúde.</span>
                    <hr id="hr_slogan"/>
                </div>
                {% endblock header %}
            </div>
        
        </header>

        {% block dieta %}
        {% endblock dieta %}   
        
        <section>

            {% block section %}
            {% endblock section %}

        </section>

    </body>

</html>