<!DOCTYPE html>
<html>

    <head>

        <title>Your Nutrition</title>

        <meta charset="UTF-8"/>

        <link rel="icon" href="{{url_for('static', filename='_img/dieta.png')}}" type="image/png"/>

        <link rel="stylesheet" href="{{url_for('static', filename='_css/style.css')}}" />

        <script src="{{url_for('static', filename='_java/javascript.js')}}"></script>

    </head>

    <body>      

        <header>

            <div id="nav">

                <a id="link" href="/login">Fazer Login</a>

            </div>
    
            <a href="/"><h1 id="nome_site">YOUR NUTRITION</h1></a>
            <p id="slogan_site">Your health in first place</p>
            
        </header>

        <section>

            {% block section %}
            {% endblock section %}

        </section>        

    </body>

</html>