{% extends 'base.html' %}

{% block titulo %}Cadastro{% endblock titulo %}

{% block section %}

<article class="article_text">
    
    <h1 id="h1_cadastro">CADASTRA-SE</h1>

    <p id="text_cadastro">Para utilizar e criar sua dieta é necessário criar uma conta no website, para se cadastrar é só preencer todos os campos no formulário ao lado.</p>

</article>

<article id="article_cadastro"><div id="conteudo_article">

    <img id="logo_cadastro" src="{{url_for('static', filename='_img/cadastro.png')}}"/>


    <form method="POST" id="form_cadastro" onsubmit="cadastro()"> 

        {{ form.hidden_tag() }}
    
        {{form.nome(placeholder="Nome", class_="input_cadastro input_cadastro_nome")}}

        {{form.sexo(class_="input_cadastro_sexo")}}
    
        {{form.aniversario(class_="input_cadastro input_cadastro_aniversario", type='date')}}
    
        {{form.email(placeholder="Email", class_="input_cadastro input_cadastro_email")}}
   
        {{form.senha(placeholder="Senha", class_="input_cadastro input_cadastro_senha")}}
   
        {{form.confirmar(placeholder="Confirmar", class_="input_cadastro input_cadastro_confirmar")}}
   
        {{form.botao(class_="btn btn_cadastro")}}

    </form>

</div></article>

<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>

{% endblock section %}