{% extends 'base.html' %}

{% block section %}

    <article>

        <form method="POST" id="form_cadastro" onsubmit="cadastro()"> 

            {{ form.hidden_tag() }}

            <h1>CADASTRA-SE</h1>

            <p>Para utilizar e criar sua dieta é necessário se cadastrar, preenchendo o formulário abaixo.</p>

            {{form.nome.label}} <br/> {{form.nome}} <br/>

            {{form.sexo.label}} <br/> {{form.sexo}} <br/>

            {{form.aniversario.label}} <br/> {{form.aniversario(type='date')}} <br/>

            {{form.email.label}} <br/> {{form.email}} <br/>

            {{form.senha.label}} <br/> {{form.senha}} <br/>

            {{form.confirmar.label}} <br/> {{form.confirmar}} <br/>

            <br/> {{form.botao}}

        </form>

    </article>

{% endblock section %}