{% extends 'base.html' %}

{% block section %}

<article>

    <div id="Informações_Contato">

        <h3>Informações para contato</h3>
                
        <b>E-mail</b>
    
        <p id="email">luanlelis09@gmail.com<br/>italofagundes01@gmail.com</p>
    
        <b>Celular</b>
        <p>Italo: +55 (77) 99192-2620<br/>
        Luan: +55 (77) 99847-6262</p>    

    </div>

    <form id="Form_Contato">

        <label for="nome">Nome:</label> <br/>       
        <input id="nome" type="text" placeholder="Ex: Marcelo" required/> <br/>

        <label for="telefone">Telefone:</label> <br/>
        <input id="telefone" type="text" maxlength="13" minlength="13" onkeypress="formatar('## #####-####', this)" placeholder="Ex: 77 99922-2244" required/> <br/>
        <label for="email">E-mail:</label> <br/>
        <input id="email" type="email" placeholder="Ex: marcelo01@gmail.com" required/> <br/>
                    
        <label  for="mensagem">Mensagem:</label> <br/> 
        <textarea id="mensagem" placeholder="Ex: Seu site é incrível!" required></textarea> <br/>
        <br/>                       
        <button id="butao">Enviar</button> <br/>
                    
    </form>
    

</article>

<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>

{% endblock section %}