{% extends 'base.html' %}

{% block section %}


<article>

        <h1>LOGIN</h1>

        <p>Para utilizar e criar sua dieta é necessário fazer o login preenchendo o formulário abaixo, caso não tenha um login clique <a href="/cadastro">aqui</a> para cadastrar.</p>

        </br>

        <form method="POST" id="form_login">

            {{ form.hidden_tag() }}

            {{form.nome.label}} <br/> {{form.nome}} <br/>

            {{form.email.label}} <br/> {{form.email}} <br/>

            {{form.senha.label}} <br/> {{form.senha}} <br/>

            <br/> {{form.botao}}

        </form>

        <br/><br/><br/><br/>

    </article>

{% endblock section %}