{% extends 'base.html' %}

{% block titulo %}Login{% endblock titulo %}

{% block section %}

<article class="article_text">

    <div class="conteudo_article">

        <h1 class="h1_conteudo">Login</h1>

        <p class="text_conteudo">Para utilizar e/ou criar sua dieta é necessário fazer o login preenchendo todas os campos do 
        formulário na caixa ao lado. Caso não tenha um login clique <a href="/cadastro">aqui</a> para cadastrar.</p>

        </br>

    </div>

</article>

<article id="article"><div id="conteudo_article">

    <br/><br/><br/>

    <img id="logo_login" src="{{url_for('static', filename='_img/login.png')}}"/> <br/><br/><br/><br/>

    <form method="POST" id="form_login" onsubmit="login()">

        {{ form.hidden_tag() }}
    
        {{form.email(placeholder="Email", class_="input_login input_login1")}}
    
        {{form.senha(placeholder="Senha", class_="input_login input_login2")}}
    
        {{form.botao(class_="btn btn_login")}}
    
    </form>

</div></article>

<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>

{% endblock section %}